.from-list {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: #FFFFFF6F;
}

.from-list > ul {
    padding: 10px;
}

.from-list > ul > li {
    padding: 2px;
    cursor: pointer;
}

.from-list > ul > li:hover {
    background-color: #0000006F
}

.to-list > table > thead > tr > th, .to-list > table > tbody > tr > td {
    text-align: center;
}

.to-list > table > tbody > tr > td {
    width: 100%;
    height: 100%;
}

.title {
    color: snow;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.example_e {
    border: none;
    width: 95%;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    margin-top: 20px;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
}

.example_e:hover {
    color: #ffffff !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}