<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'search/css/style.css' %}">
    {% block head %}
    {% endblock %}
    <style>
        .menu {
            text-align: left;
            position: fixed;
            display: block;
            overflow: hidden;
            left: 0;
            top: 0;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 60px;
            background-color: black;
        }

        .menu > a {
            position: relative;
            display: inline-block;
            top: 50%;
            transform: translateY(-50%);
            text-decoration: none;
            padding-left: 20px;
        }
    </style>
</head>
<body>
<div class="menu">
    <a href="{% url 'order_search' %}">Search</a>
    <a href="{% url 'test_app:index' %}">Orders</a>
    <a href="{% url 'test_app:order_report' %}">Report</a>
    <a href="/admin/">Admin</a>
</div>
{% block body %}

{% endblock %}
</body>
</html>