{% extends 'test_app/base.html' %}
{% block head %}
    {% load staticfiles %}
    <script src="{% static 'test_app/js/angular.min.js' %}"></script>
    <script src="{% static 'test_app/js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'test_app/css/style.css' %}">
{% endblock %}
{% block body %}
    <div ng-app="OrderApp" style="margin-top: 70px">
        {% csrf_token %}
        {% verbatim %}
        <div ng-controller="CreateOrderCtrl">
            <h1 class="title">Select products for new order:</h1>
            <div class="from-list">
                <ul style="list-style-type: none">
                    <li ng-repeat="product in products" ng-click="AddProductToOrder(product)">{{ product.name }}</li>
                </ul>
            </div>
            <div class="to-list" ng-if="selected_products.length > 0">
                <h1 class="title">Edit quantity of products for new order:</h1>
                <table class="tbl-header">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                </table>
                <table class="tbl-content">
                    <tbody>
                    <tr ng-repeat="product in selected_products">
                        <td>{{ product.product.name }}</td>
                        <td><input type="number" ng-model="product.quantity"></td>
                        <td><img src="https://cdn1.iconfinder.com/data/icons/mix-color-3/502/Untitled-25-512.png"
                                 width="15px"
                                 height="15px" ng-click="RemoveProductFromOrder(product.product)"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="example_e" align="center" ng-click="order()">Order</div>
            </div>
            <div ng-if="orders.length > 0" style="margin-top: 20px">
                <h1 class="title">Your orders</h1>
                <table class="tbl-header">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Items</th>
                        <th>Total</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                </table>
                <table class="tbl-content">
                    <tbody>
                    <tr ng-repeat="order in orders">
                        <a ng-href="../../order/{{ order.id }}">
                            <td>Order #{{ order.id }}</td>
                            <td>
                                <div ng-repeat="item in order.items">{{ item.product.name }},<span> </span></div>
                            </td>
                            <td>{{ order.total_sum }}</td>
                            <td>{{ order.date }}</td>
                        </a>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endverbatim %}
    </div>
{% endblock %}
