{% extends 'test_app/base.html' %}
{% block head %}
    {% load staticfiles %}
    <script src="{% static 'test_app/js/angular.min.js' %}"></script>
    <script src="{% static 'test_app/js/report.js' %}"></script>
    <style>
        .title {
            color: snow;
            font-size: 20px;
            font-weight: bold;
            text-align: left;
        }
    </style>
{% endblock %}
{% block body %}
    {% verbatim %}
    <div ng-app="ReportApp">
        <div ng-controller="ReportCtrl" style="margin-top: 70px">
            <h1 class="title">Your orders:</h1>
            <table class="tbl-header">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Price</th>
                </tr>
                </thead>
            </table>
            <table class="tbl-content">
                <tbody>
                <tr ng-repeat="(key,value) in report_items">
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}