{% extends 'test_app/base.html' %}
{% block body %}
    <form method="get" class="form-wrapper cf" style="margin-top: 70px">
        {% csrf_token %}
        <input type="text" name="query" placeholder="Your order search..." required value="{{ query }}">
        <button type="submit">Search</button>
    </form>
    {% if orders %}
        <table class="tbl-header">
            <thead>
            <tr>
                <th>Name</th>
                <th>Items</th>
                <th>Total</th>
                <th>Date</th>
            </tr>
            </thead>
        </table>
        <table class="tbl-content">
            <tbody>

            {% for order in orders %}
                <tr>
                    <td>{{ order }}</td>
                    <td>
                        {% for item in order.items.all %}
                            {{ item }},<span> </span>
                        {% endfor %}
                    </td>
                    <td>{{ order.total_sum }}</td>
                    <td>{{ order.date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elif query is '' %}
    {% else %}
        <div class="made-with-love">
            No results for "{{ query }}"
        </div>
    {% endif %}
{% endblock %}
